{% extends "base.html" %}
{% block title %}
    Feedback
{% endblock %}

{% block content %}
<div>
<h3>Help us make it beter!</h3>
<p>We value your feedback! Help us improve by reporting any issues or suggesting new features. Thank you for being a part of our community and contributing to making our app even better!</p>
<form action="/feedback" method="POST" onsubmit="showAlert(event)">
  <textarea id="feedback" name="feedback" rows="10" required></textarea><br><br>
  
  <input type="submit" value="Submit">
</form>
</div>
<script>
    function showAlert(event) {
      event.preventDefault(); // Prevents the form from submitting and refreshing the page
      alert("Thank you for submitting the form! You will be redirected to the homepage.");
      window.location.href = "/"; // Redirects to the homepage
    }
  </script>
{% endblock %}

