{% extends "base.html" %} 
{% block title %}Past entries{% endblock %} 
{% block content %}
<div class="content">
  <div>
    <div>
      <div>
        <img src="data:image/png;base64,{{ wordcloud|b64encode }}" alt="Word cloud" style="float: right;">
      </div>
      <div>
        <h6>Prior entries</h6>
        <ul>
          {% for doc in summaries %}
          <li><a href="/past_entries/{{doc.date}}">{{doc.date}}</a>
          <p>Summary</p>
          <p>{{doc.summary}}</p>
          <p>Insights</p>
          <p>{{doc.insights}}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}