{% extends "base.html" %}
{% block title %}
    Feedback
{% endblock %}

{% block content %}
<div>
<h2>How it works</h2>
<p>Start journaling by clicking on "Write journal" at the top right of the page. For interactive journaling, move the toggle to interactive mode and start typing. You can click the submit button at any time 
you want the interactive assistant to give you prompts. These prompts are designed to engage you based on what you have already typed. They ask questions that challenge you to 
think deeper and question your assumptions. If you do not wish to write interactively, simply move the toggle to "solo". You may change between solo mode and Interactive
mode anytime.  As your journal, you have the option to ask your journal assistant to generate summary, insight, or action items. All of these are based on the content
of your writing. Click "done" when you are satsified with your entry. Your entry is now saved under the "completed journal" section on your homepage. If you do not click
complete, it will show up as "in progress". You can continue to edit your journals over time. 
</p>

</div>
{% endblock %}
