{% extends "base.html" %}
{% block title %}
    Feedback
{% endblock %}

{% block content %}
<div>
<h2>Getting started</h2>
 
<p>Start journaling by clicking on <a href="/chat">Write journal</a> at the top right of the page. You can click the airplane button at any time to interact with the assistant. The assistant's prompts are designed to engage you based on what you have already typed. They ask questions that challenge you to 
think deeper and question your assumptions. If you do not wish to write interactively, simply move the toggle to "solo". You may change between solo mode and Interactive
mode anytime.</p>
<p>As your journal, you have the option to ask your journal assistant to generate insight or action items. All of these are based on the content
    of your writing. Click "done" when you are satsified with your entry. Your entry is now saved under the "completed journal" section on your homepage. If you do not click
    complete, it will show up as "in progress". You can continue to edit your journals over time. 
    
    You can share your writing by clicking on the email icon on the top right of completed entries.
    
    </p>
<br>
<img src="/static/images/interactive.png" style="max-width: 100%; margin: 2em; border-radius: 1%;">
<br>
<img src="/static/images/completed_entry_top.png" style="max-width: 100%; margin: 2em; border-radius: 1%;">
<br>
<img src="/static/images/completed_entry_bottom.png" style="max-width: 100%; margin: 2em; border-radius: 1%;">

</div>
{% endblock %}
