{% extends "base.html" %}
{% block title %}
    {{ date }}
{% endblock %}

{% block content %}
    <div class="post">

        <h4>{{ date }}</h4>
        <button onclick="shareViaEmail('{{ date }}')">Share via Email</button>
        {% for entry in entries %}
        <p style="{% if entry['role']=='bot' %}font-style: italic;background-color: lightgray;{% endif %}">
            {{ entry['txt'] }}
        </p>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='journal_entry.js') }}"></script>
{% endblock %}