{% extends "base.html" %}
{% block title %}
    {{ date }}
{% endblock %}

{% block content %}
    <div class="post">

        <h4>{{ date }}</h4>
        <div style="text-align: right;">
            <button class="btn btn-primary" onclick="shareViaEmail('{{ entry._id }}')">Share via Email</button>
        </div>
        <h4>Summary</h4>
        <p>{{entry.summary}}</p>
        <h4>Insights</h4>
        <p>{{entry.insights}}</p>
        <h4>Action items</h4>
        <ul>
            {% for action in entry.actions %}
                <li>{{ action }}</li>
            {% endfor %}
        </ul>
        <h4>Entry</h4>
        {% for chat in entry.chats[2:] %}
        <p style="{% if chat['role']=='assistant' %}font-style: italic;background-color: lightgray;{% endif %}">
            {{ chat.content }}
        </p>
        {% endfor %}
    </div>
    <div style="text-align: right;">
        <button class="btn btn-primary" onclick="change_to_in_progress('{{ entry._id }}')">Keep writing</button>
    </div> 
    <script src="{{ url_for('static', filename='journal_entry.js') }}"></script>
{% endblock %}