<!DOCTYPE html>
<!-- Last Published: Wed Apr 19 2023 18:33:29 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="www.helloconduit.com" data-wf-page="63d6ff80f5e6209b78228d0f" data-wf-site="63d6ff80f5e62068d7228d10">
    <head>
        <meta charset="utf-8"/>
        <title>Conduit</title>
        <meta content="Warehouse dock management software for your supply chain. Improve productivity, visibility, and reduce dwell times." name="description"/>
        <meta content="Conduit" property="og:title"/>
        <meta content="Warehouse dock management software for your supply chain. Improve productivity, visibility, and reduce dwell times." property="og:description"/>
        <meta content="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6207353228d31_Conduit%20(1).png" property="og:image"/>
        <meta content="Conduit" property="twitter:title"/>
        <meta content="Warehouse dock management software for your supply chain. Improve productivity, visibility, and reduce dwell times." property="twitter:description"/>
        <meta content="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6207353228d31_Conduit%20(1).png" property="twitter:image"/>
        <meta property="og:type" content="website"/>
        <meta content="summary_large_image" name="twitter:card"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link href="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/css/conduit-ai-duplicate.webflow.80371e206.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com" rel="preconnect"/>
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <script type="text/javascript">
            WebFont.load({
                google: {
                    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic", "Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]
                }
            });
        </script>
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->
        <script type="text/javascript">
            !function(o, c) {
                var n = c.documentElement
                  , t = " w-mod-";
                n.className += t + "js",
                ("ontouchstart"in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
            }(window, document);
        </script>
        <link href="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d83cbfcfa3b029342caf7c_Logo%20white.png" rel="shortcut icon" type="image/x-icon"/>
        <link href="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63ddcc9270afa62c60992c80_webclip.png" rel="apple-touch-icon"/>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JCN4ZQ6830"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-JCN4ZQ6830');
        </script>
        <script>
            !function(t, e) {
                var o, n, p, r;
                e.__SV || (window.posthog = e,
                e._i = [],
                e.init = function(i, s, a) {
                    function g(t, e) {
                        var o = e.split(".");
                        2 == o.length && (t = t[o[0]],
                        e = o[1]),
                        t[e] = function() {
                            t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                        }
                    }
                    (p = t.createElement("script")).type = "text/javascript",
                    p.async = !0,
                    p.src = s.api_host + "/static/array.js",
                    (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(p, r);
                    var u = e;
                    for (void 0 !== a ? u = e[a] = [] : a = "posthog",
                    u.people = u.people || [],
                    u.toString = function(t) {
                        var e = "posthog";
                        return "posthog" !== a && (e += "." + a),
                        t || (e += " (stub)"),
                        e
                    }
                    ,
                    u.people.toString = function() {
                        return u.toString(1) + ".people (stub)"
                    }
                    ,
                    o = "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),
                    n = 0; n < o.length; n++)
                        g(u, o[n]);
                    e._i.push([i, s, a])
                }
                ,
                e.__SV = 1)
            }(document, window.posthog || []);
            posthog.init('phc_gkfymJxTlG8BzDG9dgbFnEuOAdwiCZmkVJpF5Bj6dXe', {
                api_host: 'https://app.posthog.com'
            })
        </script>
    </head>
    <body class="body">
        <div class="navbar-logo-left wf-section">
            <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-logo-left-container shadow-three w-nav">
                <div class="container-5">
                    <div class="navbar-wrapper-2">
                        <a href="#" class="navbar-brand-2 w-nav-brand">
                            <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e620cda6228d1a_conduit.svg" loading="lazy" alt=""/>
                            <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003fa228d36_2AC3883C-860A-4DF5-BF03-02B10A159AA4.png" loading="lazy" sizes="100px" srcset="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003fa228d36_2AC3883C-860A-4DF5-BF03-02B10A159AA4-p-500.png 500w, https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003fa228d36_2AC3883C-860A-4DF5-BF03-02B10A159AA4-p-800.png 800w, https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003fa228d36_2AC3883C-860A-4DF5-BF03-02B10A159AA4-p-1080.png 1080w, https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003fa228d36_2AC3883C-860A-4DF5-BF03-02B10A159AA4.png 1432w" alt="" class="image-7"/>
                        </a>
                        <nav role="navigation" class="nav-menu-wrapper-2 w-nav-menu">
                            <ul role="list" class="nav-menu-two w-list-unstyled">
                                <li>
                                    <a href="https://getconduit.ai/accounts/login/" class="nav-link-accent">Login</a>
                                    <a href="/schedule-demo" class="nav-link-accent">Schedule Demo</a>
                                </li>
                                <li class="mobile-margin-top-11">
                                    <a href="/contact" class="button-primary w-button">Contact</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="menu-button-2 w-nav-button">
                            <div class="w-icon-nav-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header id="hero" class="section-4 wf-section">
            <div class="flex-container w-container">
                <div class="div-block-14">
                    <h1 class="hero-heading-4">
                        Dock management <span class="text-span">simplified, automated, and optimized.</span>
                    </h1>
                    <p class="margin-bottom-24px">Schedule appointments automatically. Assign docks and check in/out remotely. Reschedule based on real-time ETAs. Easily integrate with existing tools.</p>
                    <a href="/contact" class="button-primary w-button">Contact</a>
                    <a href="/schedule-demo" class="button-3 w-button">
                        <strong class="bold-text">SCHEDULE DEMO →</strong>
                    </a>
                </div>
                <div class="hero-image-mask">
                    <div class="html-embed w-embed w-iframe">
                        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
                            <iframe src="https://www.youtube.com/embed/A13wlhwR8zg?&autoplay=1&rel=0&cc_load_policy=1&mute=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="section wf-section">
            <div class="div-block">
                <h3 class="heading-benefits">We help shippers and warehouse teams...</h3>
                <div class="w-container">
                    <div class="w-layout-grid grid-3-copy">
                        <div id="w-node-_493cb9f0-7a32-56d4-389e-4eebc9d57b42-78228d0f" class="div-block-11">
                            <h3 id="w-node-dd75ce87-8103-62d0-b06f-98c04e7e0112-78228d0f" class="heading">
                                <strong>Automated Scheduling</strong>
                            </h3>
                            <p class="paragraph-3">Save 80% time on scheduling with automation configured exactly to your operations.</p>
                        </div>
                        <div id="w-node-_372d078d-ae35-25b4-0ecd-b891c8596c55-78228d0f">
                            <h3 id="w-node-_372d078d-ae35-25b4-0ecd-b891c8596c56-78228d0f" class="heading">
                                <strong>Contactless Check-In</strong>
                            </h3>
                            <p id="w-node-_372d078d-ae35-25b4-0ecd-b891c8596c58-78228d0f" class="paragraph-3">Keep your team focused and your drivers safe with contactless check-in and driver messaging. </p>
                        </div>
                        <div id="w-node-c136f748-9e85-0144-e0ca-654cf658946f-78228d0f">
                            <h3 id="w-node-c136f748-9e85-0144-e0ca-654cf6589470-78228d0f" class="heading">
                                <strong>Pre-Arrival Queueing </strong>
                            </h3>
                            <p id="w-node-c136f748-9e85-0144-e0ca-654cf6589472-78228d0f" class="paragraph-3">Reduce congestion and get trucks through your gate in the right order. </p>
                        </div>
                        <div id="w-node-b2a69bee-d673-011c-72fe-289a8811677b-78228d0f">
                            <h3 id="w-node-b2a69bee-d673-011c-72fe-289a8811677c-78228d0f" class="heading">
                                <strong>ETAs and Rescheduling</strong>
                            </h3>
                            <p id="w-node-b2a69bee-d673-011c-72fe-289a8811677e-78228d0f" class="paragraph-3">Reduce overtime and simplify rescheduling with real-time ETAs and checks that match your capacity. </p>
                        </div>
                        <div id="w-node-_99d42023-4749-ecd9-caac-f05a77c8d4ba-78228d0f">
                            <h3 id="w-node-_99d42023-4749-ecd9-caac-f05a77c8d4bb-78228d0f" class="heading">
                                <strong>Endless Integrations</strong>
                            </h3>
                            <p id="w-node-_99d42023-4749-ecd9-caac-f05a77c8d4bd-78228d0f" class="paragraph-3">We integrate with your TMS and WMS. Your carriers and brokers can integrate too. No driver apps required.</p>
                        </div>
                        <div id="w-node-_081ff6fc-015f-0d15-3918-1e3a722e20bc-78228d0f">
                            <h3 id="w-node-_081ff6fc-015f-0d15-3918-1e3a722e20bd-78228d0f" class="heading">
                                <strong>Industry-best Support</strong>
                            </h3>
                            <p id="w-node-_081ff6fc-015f-0d15-3918-1e3a722e20bf-78228d0f" class="paragraph-3">With in-person onboarding, dedicated contacts, and 24/7 support, we are always there for you. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="testimonial-slider-small-2 wf-section">
            <div class="container-7">
                <h2 class="centered-heading-2">Our customers are saying....</h2>
                <div data-delay="4000" data-animation="slide" class="testimonial-slider-2 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                    <div class="w-slider-mask">
                        <div class="testimonial-slide-wrapper-2 w-slide">
                            <div class="testimonial-card-2">
                                <p>From the beginning, Conduit has felt like a partner. The team works with us to truly understand our problems, updates the product based on our feedback, and even has helped train our vendors and carriers to use the tool too.</p>
                                <div class="testimonial-info-2">
                                    <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6203896228d29_encore%20glass%20logo.png" loading="lazy" alt="" class="testimonial-image-3"/>
                                    <div>
                                        <h3 class="testimonial-author-2">Stephanie Wallis</h3>
                                        <div class="tagline-2">
                                            Logistics Manager, Encore Glass<br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-slide-wrapper-2 w-slide">
                            <div class="testimonial-card-2">
                                <p>Before Conduit, we were managing our schedules and docks on several spreadsheets. We also had vendors and carriers calling all the time to get things scheduled. Now, Conduit has centralized it all. It &#x27;s saving us a lot of time and we &#x27;re adding other teams to it so they can get updates on product on their own. </p>
                                <div class="testimonial-info-2">
                                    <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6203896228d29_encore%20glass%20logo.png" loading="lazy" alt="" class="testimonial-image-3"/>
                                    <div>
                                        <h3 class="testimonial-author-2">Diana Castro</h3>
                                        <div class="tagline-2">Receiving Supervisor, Encore Glass</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-slider-left-2 w-slider-arrow-left">
                        <div class="arrow-wrapper-2">
                            <img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a0e4912aadb_Chevron%20right-1.svg" loading="lazy" alt="" class="slider-arrow-embed-2"/>
                        </div>
                    </div>
                    <div class="testimonial-slider-right-2 w-slider-arrow-right">
                        <div class="arrow-wrapper-2">
                            <img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a7ce212aacc_Chevron%20right.svg" loading="lazy" alt="" class="slider-arrow-embed-2"/>
                        </div>
                    </div>
                    <div class="testimonial-slide-nav-2 w-slider-nav w-round"></div>
                </div>
            </div>
        </section>
        <div class="section-2 wf-section">
            <div class="w-container">
                <h3 class="heading-2">We partner with you to solve your problems.</h3>
                <div class="div-block-7">
                    <p class="paragraph-5">Conduit &#x27;s founders work directly with each customer to ensure your needs are met. We &#x27;re not afraid to show up in person to understand how your operations work and ensure our solution makes sense. </p>
                </div>
                <div class="w-layout-grid grid-5">
                    <div id="w-node-_8f85ea9d-2717-e5a3-b0e1-2b5b2f247e47-78228d0f" class="div-block-8">
                        <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6202408228d2a_headshots-conrad-lilleness-015-linkedin.jpg" loading="lazy" sizes="(max-width: 767px) 50vw, (max-width: 991px) 364px, 470px" srcset="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6202408228d2a_headshots-conrad-lilleness-015-linkedin-p-500.jpg 500w, https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6202408228d2a_headshots-conrad-lilleness-015-linkedin.jpg 600w" alt="" class="image-4"/>
                        <div class="div-block-10">
                            <h3 class="heading-7">Conrad Lilleness</h3>
                            <a href="https://www.linkedin.com/in/conradlilleness/" class="footer-social-link w-inline-block">
                                <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6203d65228d2f_linkedin%20(1).svg" loading="lazy" alt="" class="image-6"/>
                            </a>
                        </div>
                        <p class="paragraph-6">CEO &amp;Co-founder</p>
                    </div>
                    <div id="w-node-fef2f8f1-3a44-4844-dce3-4357bf2b5ba8-78228d0f" class="div-block-9">
                        <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003b2228d2b_Untitled.png" loading="lazy" sizes="(max-width: 767px) 50vw, (max-width: 991px) 364px, 470px" srcset="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003b2228d2b_Untitled-p-500.png 500w, https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003b2228d2b_Untitled-p-800.png 800w, https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003b2228d2b_Untitled-p-1080.png 1080w, https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e62003b2228d2b_Untitled.png 1300w" alt="" class="image-5"/>
                        <div class="div-block-10">
                            <h3 class="heading-7">Saba Khalilnaji</h3>
                            <a href="https://www.linkedin.com/in/saba-khalilnaji/" class="footer-social-link w-inline-block">
                                <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6203d65228d2f_linkedin%20(1).svg" loading="lazy" alt="" class="image-6"/>
                            </a>
                        </div>
                        <p>CTO &amp;Co-founder</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section wf-section"></div>
        <section class="hero-heading-left-2 wf-section">
            <div class="container-8">
                <div class="hero-wrapper-2">
                    <div class="hero-split-2">
                        <h1 class="heading-6">See Conduit in action.</h1>
                        <p class="margin-bottom-24px-2">We &#x27;re ready to make your shipping, warehouse, and transportation teams super-human. Schedule a live demo with the button below. </p>
                        <div class="div-block-15">
                            <a href="/schedule-demo" class="button-primary-2 w-button">CONTACT</a>
                            <a href="/schedule-demo" class="button-2 w-button">
                                <strong class="bold-text-action">SCHEDULE DEMO →</strong>
                            </a>
                        </div>
                    </div>
                    <div class="hero-split-2">
                        <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6207353228d31_Conduit%20(1).png" loading="lazy" alt="" class="shadow-two-2"/>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-light wf-section">
            <div class="container-6">
                <a href="#" class="footer-brand w-inline-block">
                    <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e620296f228d2c_conduit%20(1).svg" loading="lazy" alt="" class="image-8"/>
                </a>
                <div class="footer-title">hello@getconduit.ai</div>
                <a href="https://www.linkedin.com/company/getconduit/" class="footer-social-link w-inline-block">
                    <img src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/63d6ff80f5e6206918228d34_linkedin%20(2).svg" loading="lazy" alt="" class="image-3"/>
                </a>
                <div class="footer-divider-two"></div>
                <div class="footer-bottom">
                    <div class="footer-copyright">© 2023 Conduit. All rights reserved</div>
                </div>
            </div>
        </section>
        <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=63d6ff80f5e62068d7228d10" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://uploads-ssl.webflow.com/63d6ff80f5e62068d7228d10/js/webflow.229fc088d.js" type="text/javascript"></script>
        <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    </body>
</html>
