{% extends "base.html" %} {% block title %}Gagali{% endblock %} {% block content
    %}
	<div class="container">
		<h2>Welcome to a new realm of self-discovery and personal growth - our groundbreaking interactive journal awaits!</h2>
		<p>On this journey, your GPT powered personal assistant will provide:</p>
		<ul style="list-style-type: disc;">
			<li>Thought-provoking prompts</li>
			<li>Verbal summaries and picture clouds of prior entries</li>
			<li>Insights</li>
			<li>Action items</li>
		</ul>
		<p>This journal becomes your guide to unearthing new perspectives and forging a deeper connection with yourself. Prepare to embark on an extraordinary adventure, rewriting the narrative of your life one page at a time.</p>
		<a href="/login" class="btn">Start Journaling Now!</a>
        <div class="image-container">
			<img src="https://i.imgur.com/D8CoAEd.png" alt="Interactive Diary Screenshot">
		</div>

	</div>
</main>
    {% endblock %}