{% extends "base.html" %}
{% block title %}
    Privacy
{% endblock %}

{% block content %}
<div>
<h2>Privacy Policy</h2>
<h6>Effective: March 1, 2023</h6>
 
<p>
    
    Thank you for using Gagali, an interactive journal program. This Privacy Policy outlines how Gagali collects, uses, and protects your personal information when you interact with the program. By using Gagali, you consent to the practices described in this policy.</p>
    
    <ol>


   
    
    <li> Information We Collect:
        <ul>
    <li>
       User Account Information: When you create an account on Gagali, we collect your username and email address. This information is necessary to provide you with access to the program's features and to communicate important updates or notifications.
    </li>
     
    <li>
        User Writings: Gagali is designed to facilitate journaling and personal writing experiences. Your writings and content are processed by ChatGPT, a language model developed by OpenAI. Please note that your writings may be transmitted to and stored by OpenAI for the purpose of generating responses and improving the model's performance. However, Gagali will not retain or store your writings beyond what is necessary for the interactive session.
    </li>
    </ul>
    </li>
    <li>
    
    Use of Personal Information:
    <ul>
        <li>
       User Account Information: We use your username and email address to provide you with access to Gagali and to communicate with you regarding your account. We may also use this information to send you important updates, notifications, and service-related announcements.
            </li>
     
    <li>
       User Writings: Gagali ensures the confidentiality of your writings. We do not access, view, or use your writings for any purposes other than providing the interactive journaling experience. We take measures to prevent unauthorized access to your writings and ensure their security.
    </li>
    </ul>
    </li>
    <li>
    Sharing of Personal Information:
    <ul>
        <li> Third-Party Vendors: Gagali will never sell or share your personal data, including your username, email address, and writings, with third-party vendors, marketers, or advertisers.
        </li>
        <li>
        OpenAI: As mentioned earlier, your writings are processed by ChatGPT, which is developed and maintained by OpenAI. OpenAI's use of your writings is governed by its own privacy policy. We encourage you to review OpenAI's privacy policy to understand how they handle your data.
        </li>
    </ul>

    </li>
    <li>
    
    Data Security:
    
       Gagali takes the security of your personal information seriously. We implement industry-standard security measures to protect your data from unauthorized access, disclosure, alteration, or destruction. However, please be aware that no method of data transmission or storage is completely secure, and we cannot guarantee absolute security.
    
     
    </li>
    <li>
    Children's Privacy:
    
       Gagali is intended for users who are 18 years of age or older. We do not knowingly collect personal information from individuals under the age of 18. If we become aware that we have collected personal information from a child without parental consent, we will take steps to delete that information.
    
    </li>
    <li>
    
    Changes to the Privacy Policy:
    
       Gagali may update this Privacy Policy from time to time. Any changes will be posted on this page with a revised "Effective Date." We encourage you to review this Privacy Policy periodically to stay informed about how we handle your personal information.
    
    </li>
    <li>
    
    Contact Us:
    
       If you have any questions, concerns, or requests regarding this Privacy Policy or the use of your personal information, please contact us at gagali.help@gmail.com. We will endeavor to respond to your inquiry as soon as possible.
    
    </li>
    </ol> 
    <p>By using Gagali, you acknowledge that you have read and understood this Privacy Policy and agree to the collection, use, and protection of your personal information as described herein.</p>
    
     
    
    <p>If you have any questions, concerns, or requests regarding this Privacy Policy or the privacy practices of Gagali, please contact us at gagali.help@gmail.com.</p>



</div>
{% endblock %}
