{% extends "base.html" %}
{% block title %}
    {{ entry.title }}
{% endblock %}

{% block content %}
    <div class="completed-entry">
        <div style="text-align: center; margin-bottom: 5em;">
        <h3>{{ entry.title }}</h3>
        <em>{{entry['last_update']|timestamp_to_local_time }}</em>
        </div>
        <div style="margin-top: 5em;">
        {% for chat in entry.chats[2:] %}
        <p style="{% if chat['role']=='assistant' %}font-style: italic;background-color: lightgray;{% endif %}">
            {{ chat.content }}
        </p>
        {% endfor %}
        </div>
    </div>
<div>
    <div>
    <form id="commentForm" action="/add_comment" method="post">
        <input type="hidden" name="entry_id" value="{{ entry._id }}">
        <textarea id="message" name="comment_text" placeholder="What are your thoughts?"></textarea>
        <button type="submit" style="margin: 10px; float:right">Submit</button>
    </form>
    </div>
    <div class="clear"></div>
    <div id="commentsContainer">
      {% for comment in comments %}
        <div>
          <p>{{ comment.text }}</p>
          <p class="timestamp" data-timestamp="{{ comment.last_update }}">{{ entry.last_update }}</p>
          <button class="like-button fa fa-thumbs-up" data-comment-id="{{ comment.id }}"></button>
        </div>
        <hr class="faint-line">
      {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='public_entry.js') }}"></script>
    <script src="{{ url_for('static', filename='public_entries.js') }}"></script>
 
{% endblock %}