{% extends "base.html" %} 

{% block title %}Manage Subscriptions{% endblock %} 

{% block content %}
<style>
.btn {
  margin: 5px;
}

</style>
<div class="container my-4">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display-4">Manage Subscriptions</h1>

            <!-- Subscriber list -->
            <div class="card ">
                <div class="card-header">
                    <h3>Current Subscribers:</h3>
                </div>
                <ul class="list-group list-group-flush list-unstyled my-4" id="subscriber-list">
                    <!-- List items will be added dynamically via JavaScript -->
                </ul>
            </div>

            <!-- Subscription list -->
            <div class="card ">
                <div class="card-header">
                    <h3>Current Subscriptions:</h3>
                </div>
                <ul class="list-group list-group-flush list-unstyled my-4" id="subscription-list">
                    <!-- List items will be added dynamically via JavaScript -->
                </ul>
            </div>

            <!-- Add new subscriber form -->
            <div class="card ">
                <div class="card-header">
                    <h3>Add New Subscriber:</h3>
                </div>
                <div class="card-body">
                    <form id="subscribe-form">
                        <div class="form-group">
                            <label for="email">Email Address:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='subscriptions.js') }}"></script>
</div>
{% endblock %}
