
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gagali - Terms and Conditions</title>
    <style>
        .button {
          background-color: #4CAF50;
          border: none;
          color: rgb(255, 254, 254);
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 5px;
        }
        </style>
</head>

<body>
    <h1>Disclaimer</h1>
        <p>The following legal disclaimer outlines the terms and conditions governing the use
            of the digital interactive journal, Gagali, and any associated products or services (collectively
            referred to as "the Gagali"). By using the Gagali, you agree to be bound by the terms and
            conditions set forth in this disclaimer. It is important to carefully read and understand the
            following before utilizing the Gagali.</p>
        <ul>
            <li>No Medical Advice: The Gagali is designed to provide psychoeducation and coaching
                experiences to users. While one of the creators of Gagali is a licensed psychiatrist, it is
                important to emphasize that the information provided by the Gagali should NOT be
                considered a substitute for professional medical advice. Although the Gagali and its creators
                offer general information, they do not possess the ability to provide personalized medical,
                psychological, or psychiatric advice. Therefore, users are strongly advised to consult with
                qualified healthcare professionals for accurate diagnosis, appropriate treatment, and
                tailored medical advice to address their specific needs.</li>
            <li>Personal Responsibility: The use of the Gagali is at the sole discretion and risk of the user.
                Gagali and its creators assume no legal responsibility for any harm, damage, or adverse
                consequences that may arise from the use of its products or services. It is the user's
                responsibility to exercise caution, judgment, and due diligence when using the Gagali. The
                Gagali does not guarantee any specific outcomes or results, and individual experiences may
                vary.</li>
            <li>No Endorsement: The Gagali may contain references to third-party resources, websites,
                products, or services for informational purposes. However, the inclusion of such references
                does not constitute an endorsement, recommendation, or affiliation with these third parties.
                Gagali and its creators disclaim any liability for the content, accuracy, or quality of any third-
                party resources or services.</li>
            <li>Intellectual Property: The Gagali and its contents, including but not limited to text, graphics,
                images, logos, audio, and video materials, are protected by intellectual property rights and
                laws. Users agree not to reproduce, distribute, modify, or create derivative works based on the
                Gagali's content without obtaining explicit written permission from the respective owners.</li>
            <li>Technical Limitations: Gagali and its creators strive to provide a reliable and uninterrupted
                service. However, technical issues, maintenance, or other factors beyond their control may
                occasionally result in interruptions, delays, or inaccuracies. Gagali and its creators shall not be
                held liable for any such disruptions or inaccuracies.</li>
            <li>Indemnification: By using the Gagali, users agree to indemnify and hold harmless Gagali and
                its creators, including their employees, agents, and affiliates, from any claims, losses, damages,
                liabilities, expenses, or costs arising out of or related to the use of the Gagali or any violation of
                this disclaimer.</li>
            <li>Modifications and Termination: Gagali and its creators reserve the right to modify, suspend,
                or terminate the Gagali, its features, or any part thereof at any time without prior notice. They
                may also modify this disclaimer as deemed necessary. Users are encouraged to review the
                disclaimer periodically for any updates.</li>   
        </ul>
        <p>By using the Gagali, you acknowledge that you have read, understood, and agreed to the terms
            and conditions outlined in this disclaimer. If you do not agree with any part of this disclaimer,
            you should refrain from using the Gagali.</p>
        <p><b>Important Notice:</b> If you are currently experiencing active thoughts of self-harm or harm
            towards others, it is crucial that you do not use this product, the Gagali. Instead, immediately
            call emergency services (such as 911) or present yourself to the nearest emergency room for
            immediate assistance. The Gagali is not equipped to provide emergency or crisis support, and it
            should not be relied upon in such situations. Your safety and well-being are paramount, and it is essential to seek professional
            help from qualified healthcare providers who can provide the necessary assistance in times of
            crisis.</p>

    

    <a href="/register_terms" ><button class="button">I accept </button></a>
    <a href="/logout"><button class="button">I decline </button></a>
</body>

</html>

